.form {
    padding: 10px;
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;
}

@media (max-width: 767px) {
    .form {
        flex-wrap: wrap;
    }
}

.form__field{
    padding: 8px; 
    border: 1px solid #d4d4d4;
    margin: 10px;
    flex-grow: 1;
}

@media (max-width: 767px) {
    .form__field{
        flex-basis: 100%;
    }
}

.form__submitButton {
    background-color: #007383;
    color: #fff;
    font-weight: 300;
    border: 1px solid #007383;
    padding: 8px;
    margin: 10px;
}

.form__submitButton:hover {
    background-color: hsl(187, 100%, 30%);
    transform: scale(1.1);
    transition: transform 500ms ease-in-out, background-color 250ms ease-in-out;
}

@media (max-width: 767px) {
    .form__submitButton{
        flex-basis: 100%;
    }
}
@media (max-width: 767px) {
    .form__submitButton:hover{
        transform: scale(1.04);
    }
}