.section {
    background-color: #fff;
    margin-bottom: 10px;
}

.section__header {
    padding: 20px;
    margin: 0px;
}

.section__container{
 display: flex;   
 justify-content: space-between;
 align-items: center;
 flex-wrap: wrap;
 border-bottom: 2px solid #eee;
}